html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.amirGit {
    /* background-image: url(../images/bg-paper@2x.jpg); */
    background: rgb(0,200,255);
    background: linear-gradient(0deg, rgba(0,200,255,1) 0%, rgba(0,0,0,1) 50%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.amirGitHeader--logo {
    height: 32px;
}

.amirGitMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.amirGitMain--information {
    background-color: rgba(255,255,255,0.3);
    border-radius: 15px;
    border-style: double;
    height: 350px;
    width: 635px;
}

.amirGitMain--information__div {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    margin-left: 10px;
}

.amirGitMain--information__name {
    margin-top: 40px;
}

.amirGitMain--information__link {
    color: #fff;
}

.amirGitMain--information__Profile {
    margin: 30px;
    margin-right: 40px;
}

.amirGitMain--information__Profile img {
    height: 128px;
    border-radius: 50%;
}

.amirGitMain--information__bio {
    margin-left: 30px;
}

.amirGitMain--information__location {
    margin-top: 10px;
}

.amirGitMain--link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.3);
    height: 350px;
    margin-left: 50px;
    border-radius: 15px;
    border-style: double;
}

.amirGitMain--link__Top {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 30px;
}

.amirGitMain--link__alert {
    position: absolute;
    display: none;
}

.amirGitMain--link__contaner {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4.1rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
}

.amirGitMain--link__search {
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    height: 2rem;
    text-emphasis-color: lightgray;
    padding: 0 10px;
    font-size: 15px;
    /* width: 70ch; */
    border: none;
}

.amirGitMain--link__search:focus {
    outline: 0;
}

.amirGitMain--link__submit {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amirGitMain--link__submit button {
    margin: auto;
    padding: 10px 40px;
    border-radius: 5px;
    cursor: pointer;
}